*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

form {
    margin: 8rem auto;
    text-align: center;
    width: 30%;
    padding: 20px;
    border: 2px solid blue;
    border-radius: 20px;
}

#inputNumber {
    margin-right: 1rem;
    padding: 5px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 10px;
}

#scelta-utente {
    padding: 5px;
    font-size: 18px;
    border-radius: 10px;
    border: 2px solid black;
}

#submit {
    margin-top: 1rem;
    padding: 7px 15px;
    font-size: 18px;
    border-radius: 10px;
    border: 2px solid bla
}